In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

pop = pd.read_csv('Country.csv')
print(pop.head())

  Country Code                     Region          IncomeGroup
0          ABW  Latin America & Caribbean          High income  \
1          AFE                        NaN                  NaN
2          AFG                 South Asia           Low income
3          AFW                        NaN                  NaN
4          AGO         Sub-Saharan Africa  Lower middle income

                                        SpecialNotes
0                                                NaN  \
1  26 countries, stretching from the Red Sea in t...
2  The reporting period for national accounts dat...
3  22 countries, stretching from the westernmost ...
4  The World Bank systematically assesses the app...

                     TableName  Unnamed: 5
0                        Aruba         NaN
1  Africa Eastern and Southern         NaN
2                  Afghanistan         NaN
3   Africa Western and Central         NaN
4                       Angola         NaN

In [9]:
pop.shape

(265, 6)

In [10]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   216 non-null    object
 3   SpecialNotes  126 non-null    object
 4   TableName     265 non-null    object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.6+ KB

In [11]:
print(pop.columns)

Index(['Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName',
       'Unnamed: 5'],
      dtype='object')