In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
if not os.path.exists('expenses.csv'):
    df = pd.DataFrame(columns=['Name', 'Date', 'Description', 'Amount', 'Category'])
    df.to_csv('expenses.csv', index=False)

# Input expense details
name = input("Enter your name: ")
date = input("Enter the date (YYYY-MM-DD): ")
description = input("Enter a description: ")
amount = float(input("Enter the amount: "))
category = input("Enter the category (e.g., groceries, utilities, entertainment): ")

# Save the new expense to the CSV file
new_expense = pd.DataFrame([[name, date, description, amount, category]], 
                           columns=['Name', 'Date', 'Description', 'Amount', 'Category'])
new_expense.to_csv('expenses.csv', mode='a', header=False, index=False)
print("Expense added successfully!")

      Name        Date       Description  Amount
0    Alice  2024-10-01         Groceries  150.75
1      Bob  2024-10-01              Fuel   60.00
2    Alice  2024-10-02  Electricity Bill  120.00
3  Charlie  2024-10-03        Dining Out   85.50
4      Bob  2024-10-03     Internet Bill   55.00
5  Charlie  2024-10-04         Groceries  200.00
6    Alice  2024-10-05    Gym Membership   50.00
7      Bob  2024-10-05           Clothes  130.25