In [35]:
import pandas as pd
import numpy as np

In [36]:
train = pd.read_csv('Train.csv')
print(train)

passenger = pd.read_csv('Passengers.csv')
print(passenger)

  Train ID     Train Name  Source Destination Station  Total Seats
0     T123    Express 123  City A              City B          200  \
1     T456  Superfast 456  City B              City C          150
2     T789   Shatabdi 789  City C              City D          100
3     T321  Intercity 321  City D              City E          180
4     T654   Rajdhani 654  City E              City F          250
5     T234            NaN  City F              City G          135
6      NaN        ABC 123  City G              City H          179

   Available Seats  Total fare
0              198       500.0
1              147      1200.0
2               96      1400.0
3              179       200.0
4              250      1500.0
5              120       300.0
6              160         NaN
  Passenger Name Train ID  Number of Tickets
0           John     T123                2.0
1          Alice     T321                1.0
2            Bob     T123                4.0
3            Eve     T456                3.0
4            NaN     T321                5.0
5            ABC     T321                NaN

In [43]:
train_total_values = train.shape[0]
train = train.dropna()
train_valid_values = train.dropna().shape[0]
print(f'Total number of valid inputs in train dataset: {train_valid_values}')
train_invalid_values = train_total_values - train_valid_values
print(f'Total number of invalid inputs in train dataset: {train_invalid_values}')

Total number of valid inputs in train dataset: 5
Total number of invalid inputs in train dataset: 2

In [44]:
passenger_total_values = passenger.shape[0]
passenger = passenger.dropna()
passenger_valid_values = passenger.shape[0]
print(f'Total number of valid inputs in passenger dataset: {passenger_valid_values}')
passenger_invalid_values = passenger_total_values - passenger_valid_values
print(f'Total number of invalid inputs in passenger dataset: {passenger_invalid_values}')

Total number of valid inputs in passenger dataset: 4
Total number of invalid inputs in passenger dataset: 2

In [46]:
def Bookings(passenger, train):
    merged_dataset = pd.merge(passenger, train[['Train ID', 'Available Seats', 'Total fare']], on='Train ID')
    merged_dataset['Booking Status'] = merged_dataset['Available Seats'] >= merged_dataset['Number of Tickets']

    for index, row in merged_dataset.iterrows():
        if row['Booking Status']:
            train.loc[train['Train ID'] == row['Train ID'], 'Available Seats'] -= row['Number of Tickets']
            passenger_fare = train.loc[train['Train ID'] == row['Train ID'], 'Total fare'].values[0] * row['Number of Tickets']
            print(f"{row['Number of Tickets']} tickets for {row['Passenger Name']} on Train {row['Train ID']} successfully booked for {passenger_fare}.")
        else:
            print(f"Booking failed for {row['Passenger Name']} on Train {row['Train ID']} due to insufficient available seats.")
    return merged_dataset, train

booking = Bookings(passenger, train)
booking

  Passenger Name Train ID  Number of Tickets  Available Seats  Total fare
0           John     T123                2.0              174       500.0  \
1            Bob     T123                4.0              174       500.0
2          Alice     T321                1.0              160       200.0
3            Eve     T456                3.0              135      1200.0

   Booking Status
0            True
1            True
2            True
3            True
2.0 tickets for John on Train T123 successfully booked for 1000.0.
4.0 tickets for Bob on Train T123 successfully booked for 2000.0.
1.0 tickets for Alice on Train T321 successfully booked for 200.0.
3.0 tickets for Eve on Train T456 successfully booked for 3600.0.

(  Passenger Name Train ID  Number of Tickets  Available Seats  Total fare
 0           John     T123                2.0              174       500.0  \
 1            Bob     T123                4.0              174       500.0
 2          Alice     T321                1.0              160       200.0
 3            Eve     T456                3.0              135      1200.0

    Booking Status
 0            True
 1            True
 2            True
 3            True  ,
   Train ID     Train Name  Source Destination Station  Total Seats
 0     T123    Express 123  City A              City B          200  \
 1     T456  Superfast 456  City B              City C          150
 2     T789   Shatabdi 789  City C              City D          100
 3     T321  Intercity 321  City D              City E          180
 4     T654   Rajdhani 654  City E              City F          250

    Available Seats  Total fare
 0              168       500.0
 1              132      1200.0
 2               96      1400.0
 3              159       200.0
 4              250      1500.0  )